# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Windows
*.dll
*.exe

# macOS
.DS_Store

# Python virtual environments
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

